{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie{% endblock %}

{% block body %}
    <p>Ajouter une catégorie</p>

{{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}



    <a href="{{ path('app_index') }}">
        <p>Retour à l'accueil</p>
    </a>
{% endblock %}
