{% extends 'base.html.twig' %}

{% block title %} 3 programmes de la catégorie {{ category }}{% endblock %}

{% block body %}
    <h1> 3 programes de la catégorie : {{ category }} </h1>
    <br/>
    {% for program in programs %}
        <div>
            <h3>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h3>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        No program !
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}

