{% extends 'base.html.twig' %}

{% block title %}All seasons from program{% endblock %}

{% block body %}
    <h1>Toutes les saisons de la série : {{ program.title }}</h1>
    {% for season in seasons %}
        <div>
            <a href="{{ path('wild_show_season', {'id': season.id }) }}">
            <h2>Saison : {{ season.number }} / Année : {{ season.year }} </h2>
            </a>
            <p>{{ season.description }}</p>
        </div>
    {% else %}
        Aucune saison trouvée.
    {% endfor %}

    <h2>Descriptif de la série :</h2>
    <p> {{ program.summary }} </p>

    <a href="{{ path('wild_index') }}">
        <p>Retour à la liste des séries</p>
    </a>
    <a href="{{ path('app_index') }}">
        <p>Retour à l'accueil</p>
    </a>
{% endblock %}

