<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <div class="row">
                    
                    <li class="d-inline nav-item text-nowrap">
                    
                        <a class="nav-link" href="/"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="d-inline nav-item text-nowrap">
                        <a class="nav-link" href="{{ path('program_index') }}"><i class="fas fa-file-video"></i> Séries</a>
                    </li>
                    <li class="d-inline nav-item text-nowrap">        
                        <a class="nav-link" href="{{ path('actor_index') }}"><i class="fas fa-user-secret"></i> Acteurs</a>
                    </li>
                    <li class="d-inline nav-item text-nowrap">
                        <a class="nav-link" href="{{ path('episode_index') }}"><i class="fab fa-d-and-d"></i> Episodes</a>
                    </li>
                {% if app.user %}
                    <li class="d-inline nav-item text-nowrap">
                        <a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-lock-open"></i> Se déconnecter</a>
                    </li>
                    <li class="d-inline nav-item text-nowrap">
                        <a class="nav-link alert-success" href="{{ path('profile') }}"><i class="fa fa-picture-o"></i> {{ app.user.email }}</a>
                    </li>
                {% else %}
                    <li class="d-inline nav-item text-nowrap">
                        <a class="nav-link" href="{{ path('app_login') }}"><i class="fa fa-lock"></i> Se connecter</a>
                    </li>
                    <li class="d-inline nav-item text-nowrap">
                        <a class="nav-link" href="{{ path('app_register') }}"><i class="fas fa-sign    "></i> S'inscrire</a>
                    </li>

                {% endif %}
            </div>
        </ul>
    </div>
</nav>
<!-- on affiche en dessous de la barre de navigation les messages flash d'avertissement s'il y en a-->
{% for message in app.flashes('warning') %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
{% endfor %}